# Build
build/

# External libraries (each dev sets these up themselves)
external/glad/
external/imgui/
external/stb/
external/oidn/

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/
*.xcodeproj
*.xcworkspace

# Compiled objects
*.o
*.a
*.dylib
*.so

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Md docs that will be individually transfered to overleaf
*.md
